/* reset config */
* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  font-size: 16px;
}

/* No puse mas variables por que no se me ocurrieron jajaja, trate de armar la mayoria con bootstrap */
/* Colores */
.card-categorias, .card-index {
  align-items: center;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border: none;
  border-radius: 0.25rem;
}

.boton {
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  border: 1px solid #515C55;
  background-color: #C6E1D0;
  color: #355C43;
  font-size: 1.2rem;
  text-decoration: none;
}
.boton:active {
  background-color: #62A87C;
  color: #F4F4D1;
}
.boton:hover {
  background-color: #62A87C;
  color: #F4F4D1;
}

.header {
  position: sticky;
  top: 0;
  z-index: 9;
}

.navbar-brand {
  align-items: center;
  transition: transform 0.2s;
}
.navbar-brand:hover {
  transform: scale(1.1);
}

nav img {
  height: 2rem;
}

footer {
  width: 100%;
  background-color: black;
  display: flex;
  padding: 0.5rem 0;
  align-content: center;
  justify-content: space-evenly;
}
@media screen and (max-width: 599px) {
  footer {
    flex-direction: column;
    align-items: center;
  }
}

.footer-logo {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.footer-logo img {
  width: 4vw;
  height: auto;
  margin: 0 1rem;
}
.footer-logo a {
  width: max-content;
  font-size: 4vw;
  margin: 0 1rem;
  text-decoration: none;
  color: #e4e2e1;
}
.footer-logo .footer-link {
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
.footer-logo .footer-link:hover {
  color: rgba(255, 255, 255, 0.55);
}

/* nav */
#contact {
  display: flex;
  align-items: center;
  align-content: center;
}
#contact .contact-menu {
  display: flex;
  align-items: center;
  list-style: none;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
#contact .contact-menu .contact-item {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
  flex-direction: row;
  justify-content: flex-start;
}
#contact .contact-menu .contact-item img {
  width: 4vw;
  height: auto;
  margin: 0 1rem;
}
#contact .contact-menu .contact-item a {
  text-decoration: none;
  color: #e4e2e1;
  font-size: 1rem;
}
#contact .contact-menu .contact-item .footer-item {
  transition: transform 0.2s;
}
#contact .contact-menu .contact-item .footer-item:hover {
  transform: scale(1.2);
}
@media screen and (max-width: 599px) {
  #contact .contact-menu .contact-item {
    width: fit-content;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  #contact .contact-menu .contact-item {
    width: fit-content;
  }
}

.carr_container {
  height: 300px;
}
.carr_container .img_carr {
  width: auto;
  height: 100%;
  object-fit: cover;
  margin: auto;
}

@media screen and (max-width: 599px) {
  .carr__index {
    display: none;
  }
}

.carr__mobile {
  display: none;
}
@media screen and (max-width: 599px) {
  .carr__mobile {
    display: block;
  }
}

#img__info {
  height: auto;
  width: 30%;
}

@media screen and (max-width: 599px) {
  .card-index {
    display: none;
  }
}

.info__card {
  text-align: center;
}

.img-carr-categoria {
  width: 100%;
  height: 45vh;
  object-fit: cover;
}

.container-prod {
  border-radius: 0.5rem;
}

.card-categorias {
  border: 1px solid #829187;
}

.banner {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  grid-area: video;
}

.banner__video {
  width: 95%;
  height: fit-content;
}

.prod__title :nth-child(2) {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.prod__title img {
  width: 35px;
  height: auto;
}

.prod_img_secundarias_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
@media screen and (max-width: 575px) {
  .prod_img_secundarias_container {
    flex-direction: row;
    justify-content: space-evenly;
  }
}
.prod_img_secundarias_container .prod_img_secundaria {
  width: 70%;
  height: auto;
}
@media screen and (max-width: 575px) {
  .prod_img_secundarias_container .prod_img_secundaria {
    width: 30vw;
    padding: 0.5rem;
  }
}

.prod_descripcion {
  min-height: 100%;
}

.prod_precio .precio_valor {
  text-align: center;
}
.prod_precioinput {
  width: 130px;
}
.texto_info {
  word-wrap: normal;
}

@media screen and (max-width: 575px) {
  .info_servicios {
    display: none;
  }
}

/* presupuestos.HTML */
.form-control {
  border-radius: 0.5rem;
}

.enviar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.enviar img {
  width: auto;
  height: 2rem;
}

/* end presupuestos.HTML */

/*# sourceMappingURL=style.css.map */
