@import "base/variable";
@import "base/mapas";
@import "base/extends";
@import "components/header";
@import "components/footer";
@import "components/index";
@import "components/categoriax";
@import "components/nosotros";
@import "components/botones";

/* reset config */
*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    font-size: 16px;
}

/* presupuestos.HTML */
.form-control{
    border-radius: $radio;
}
/* end presupuestos.HTML */
