/* 
paleta de colores:
FONDO NAV   #454546
BODY        #F8FFFC
LETRA       #615e5b     
BOTONES     #8c8c8c
DETALLES    #e4e2e1
*/

/* Esto lo use para emparejar las imagenes a un tamaño apto a la pantalla mientras acomodaba el CSS */
img{
    height: 2rem;
    }

/* Reset config */
*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    font-size: 16px;}

.header__bc__lucas{
    background-color: #454546;
}