/* 
paleta de colores:
FONDO NAV   #454546
BODY        #F8FFFC
LETRA       #615e5b     
BOTONES     #8c8c8c
DETALLES    #e4e2e1
*/

/* Reset config */
*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    font-size: 16px;
}

/* Header */
.navbar-brand{
    align-items: center;
    transition: transform .2s;
}
.navbar-brand:hover{
    transform: scale(1.1);
}
nav img{
    height: 2rem;
}
.header{
    position: sticky;
    top: 0;
    z-index: 2;
}
/* end header */
/* footer */
footer{
    width: 100%;
    background-color: black;
    display: flex;
    padding: .5rem 0;
    align-content: center;
    justify-content: space-evenly;
}
.footer-logo{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.footer-logo img{
    width: 4vw;
    height: auto;
    margin: 0 1rem;
}
.footer-logo a{
    width: max-content;
    font-size: 4vw;
    margin: 0 1rem;
    text-decoration: none;
    color: #e4e2e1;
}
#contact{
    display: flex;
    align-items: center;
    align-content: center;
}
.contact-menu{
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
}
.contact-item{
    padding: .5rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.contact-item img{
    width: 4vw;
    height: auto;
    margin: 0 1rem;
}
.contact-item a{
    text-decoration: none;
    color: #e4e2e1;
    font-size: 1rem;
}
.footer-item{
    transition: transform .2s;
}
.footer-item:hover{
    transform: scale(1.2);
}
.footer-link{
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;}
.footer-link:hover{
color: rgba(255,255,255,.55);
}
/* end footer */
/* index */
.carr__mobile{
    display: none;
}
#img__info{
    height: auto;
    width: 30%;
}
.card{
    align-items: center;
}
.info__card{
    text-align: center;
}
/* End index */
/* Categoria */
.img-carr-categoria{
    width: 100%;
    height: 45vh;
}
.container-prod{
    border-radius: .5rem;
}
/* nosotros */
.banner{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    grid-area: video;
}
.banner__video{
    width: 95%;
    height: fit-content;
}
/* end nosotros */

/* media queris tablet */
@media screen and (min-width: 600px) and (max-width: 1024px) {
    /* footer */
    .contact-menu{
        display: flex;
        justify-content: space-evenly;}
    .contact-item{
        width: fit-content;}
    footer nav{
        display: flex;}
}

    /* media queris mobile */
@media screen and (max-width: 599px) {
    /* index */
    .carr__index{
        display: none;
    }
    .carr__mobile{
        display: block;
    }
    /* footer */
    footer {
        flex-direction: column;
        align-items: center;}
    .contact-menu{
        display: flex;
        justify-content: space-evenly;}
    .contact-item{
        width: fit-content}
}