.carr_container{
    height: 300px;
     .img_carr{
        width: auto;
        height: 100%;
        object-fit: cover;
        margin: auto;
    }

}

.carr__index{
    @media screen and (max-width: 599px) {display: none;}

}
.carr__mobile{
    display: none;

    @media screen and (max-width: 599px) {display: block;}
}

#img__info{
    height: auto;
    width: 30%;
}

.card-index{
    @extend %tarjetas;
    @media screen and (max-width: 599px) {display: none;}
}

.info__card{
    text-align: center;
}