.carr__mobile{
    display: none;

    @media screen and (max-width: 599px) {display: block;}
}

#img__info{
    height: auto;
    width: 30%;
}

.card-index{
    align-items: center;
    border: none;

    @media screen and (max-width: 599px) {display: none;}
}

.info__card{
    text-align: center;
}