%tarjetas{
    align-items: center;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    border: none;
    border-radius: $radio;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
}