$boton: (
    radio: $radio,
    padd: .5rem 1rem,
    border: 2px solid nth($color, 3),
    bg: none,
    relleno: nth($color, 3),
    bg-act: nth($color, 4),
    relleno-act: nth($color, 5),
    size: 1.2rem,
)